* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

nav {
  height: 50px;
  background-color: #79ADDC;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav a {
  text-decoration: none;
  color: #fff;
}

.home .hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../images/japan-tour-01.jpg);
  height: 1200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home .hero .heroTitle {
  font-size: 100px;
  color: #fff;
  font-weight: 700;
  padding-left: 150px;
  padding-top: 200px;
}
.home .hero .heroTitle2 {
  font-size: 100px;
  color: #fff;
  font-weight: 700;
  padding-left: 150px;
}
.home .hero .heroText {
  font-size: 40px;
  color: #fff;
  font-style: italic;
  padding-top: 30px;
  padding-left: 150px;
}

.pageTitle {
  text-align: center;
  font-size: 50px;
  width: 90%;
  min-height: 80px;
  border-bottom: 3px solid #79ADDC;
  margin: auto;
  font-weight: 600;
  margin-bottom: 100px;
}

.about {
  padding: 50px;
  margin: 0 auto;
  max-width: 1200px;
  margin-bottom: 100px;
}
.about .whatDo {
  font-size: 26px;
  margin-top: 100px;
  text-align: center;
}
.about .whatDo .whatText {
  margin: 0 auto;
  font-size: 18px;
  width: 800px;
  margin-top: 50px;
  text-align: left;
  border-left: 4px solid #79ADDC;
  padding-left: 30px;
}
.about .line {
  width: 90%;
  height: 3px;
  background-color: #79ADDC;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.about .whoText {
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.about .peopless {
  width: 100%;
}
.about .peopless .place {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
}
.about .peopless .place .img1 {
  background-image: url(../images/lebron.jpg);
  width: 275px;
  height: 275px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 300px;
}
.about .peopless .place .img2 {
  background-image: url(../images/Naismith.jpg);
  width: 275px;
  height: 275px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 300px;
}
.about .peopless .place .img3 {
  background-image: url(../images/wilt.jpg);
  width: 275px;
  height: 275px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 300px;
}
.about .peopless .place .placeText {
  display: flex;
  flex-direction: column;
  height: 275px;
}
.about .peopless .place .placeText .aboutName {
  font-size: 35px;
  font-weight: 550;
  margin-top: 10px;
  text-align: center;
  text-decoration: underline;
}
.about .peopless .place .placeText .aboutInfo {
  font-size: 18px;
  margin: 0 auto;
  margin-top: 10px;
  max-width: 400px;
  text-align: center;
}

.products {
  padding: 50px;
  margin: auto;
  max-width: 1200px;
}
.products .productTiles {
  min-height: 200px;
  margin-top: 100px;
}
.products .productTiles .tile1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 12px;
}
.products .productTiles .tile1 .pro1 {
  width: 350px;
  height: 350px;
  background-color: burlywood;
  background-image: url(../images/tour-04.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.products .productTiles .tile1 .pro2 {
  width: 350px;
  height: 350px;
  background-color: burlywood;
  background-image: url(../images/tour-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.products .productTiles .tile1 .pro3 {
  width: 350px;
  height: 350px;
  background-color: burlywood;
  background-image: url(../images/tour-08.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.products .productTiles .tile2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.products .productTiles .tile2 .pro4 {
  width: 350px;
  height: 350px;
  background-color: burlywood;
  background-image: url(../images/tour-07.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.products .productTiles .tile2 .pro5 {
  width: 350px;
  height: 350px;
  background-color: burlywood;
  background-image: url(../images/tour-03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.products .productTiles .tile2 .pro6 {
  width: 350px;
  height: 350px;
  background-color: burlywood;
  background-image: url(../images/egypt-tour-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.products .line {
  width: 90%;
  height: 3px;
  background-color: #79ADDC;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.products .project {
  margin-top: 50px;
}
.products .project .project-work {
  display: flex;
}
.products .project .project-work img {
  width: 300px;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.products .project .project-work .workText {
  margin-left: 30px;
  margin-top: 30px;
  width: 600px;
}

.contact {
  padding: 50px;
  margin: auto;
  max-width: 1200px;
}
.contact .contactform {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.contact .contactform .formInfoMap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact .contactform .formInfoMap .formInfo {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 700px;
}
.contact .contactform .formInfoMap .formInfo .formInput {
  width: 100%;
  min-width: 100px;
  height: 50px;
  font-size: 18px;
  padding-left: 15px;
  color: #000;
  border: 2px solid;
  margin-bottom: 50px;
}
.contact .contactform .formInfoMap img {
  width: 360px;
  height: 360px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
  border: 2px solid;
}
.contact .contactform .formMes {
  width: 100%;
  min-width: 100px;
  height: 200px;
  font-size: 18px;
  padding-left: 15px;
  padding-bottom: 145px;
  color: #000;
  border: 2px solid;
}
.contact .contactform .submit {
  padding: 20px 10px;
  width: 150px;
  color: #fff;
  background-color: #79ADDC;
  text-align: center;
  font-size: 20px;
  border-radius: 25px;
  margin: 0 auto;
  margin-top: 40px;
}

@media all and (max-width: 660px) {
  .formInfoMap {
    flex-direction: column;
  }
  .formInfoMap .formInfo {
    margin-left: 20px;
    max-width: 100%;
  }
  .formInfoMap img {
    max-width: 100%;
  }
}
footer {
  height: 80px;
  background-color: #79ADDC;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer .footerText {
  color: white;
  font-size: 18px;
  padding-top: 10px;
}

/*# sourceMappingURL=styles.css.map */
