.home {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)), url(../images/japan-tour-01.jpg);
    height: 1200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .heroTitle {
      font-size: 100px;
      color: #fff;
      font-weight: 700;
      padding-left: 150px;
      padding-top: 200px;
    }    
    .heroTitle2 {
      font-size: 100px;
      color: #fff;
      font-weight: 700;
      padding-left: 150px;
    }
    .heroText {
      font-size: 40px;
      color: #fff;
      font-style: italic;
      padding-top: 30px;
      padding-left: 150px;
    }
  }

  // .homeStuff {
  //   margin: auto;
  //   max-width: $content-width;
  // }
}

.pageTitle {
  text-align: center;
  font-size: 50px;
  width: 90%;
  height: 80px;
  border-bottom: 3px solid $site-blue;
  margin: auto;
  font-weight: 600;
}